$mainColor: #00b33c

body 
    background-color: #003312
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
     -moz-user-select: none
    -ms-user-select: none
     user-select: none

div
    box-sizing: border-box

h1, h2 
    color: $mainColor
    text-transform: uppercase
    
.board
    padding: 10px
    background-color: #555
    display: flex
    justify-content: center
    flex-wrap: wrap
    box-shadow: inset 0 0 10px #000000
    
.letter
    background-color: white
    text-transform: uppercase
    margin: 15px
    border: 3px solid white
    font-size: 30px
    font-family: sans-serif
    height: 100px
    width: 70px
    text-align: center
    line-height: 100px
    
    
.folded
    background-color: $mainColor
    font-size: 0
    box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.6)
    
.space
    background-color: $mainColor
 
.user-input
    display: flex
    justify-content: center
    margin: 20px
    
    input 
        border: 2px solid $mainColor
        border-radius: 20px
        margin: 10px